<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Arpit Agrawal">
    <meta name="description" content="It is a template of my weather project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}" />
</head>
<body>
    <h1>Weather Conditions</h1>
    <form action="/weather">
        <input type="text" id="city" name="city" />
    </form>
</body>
</html>